{% extends 'layout.html' %}

{% block content %}
<div style="max-width: 500px;">
    <h1>Gimpify an image</h1>
    <p>
        Upload an image to Gimpify it. It will create a cartoon effect on the
        image. So actually, it should be called cartoonify... but what ever.
    </p>
    <form action="/" method="POST" enctype="multipart/form-data">
        <p>
            <input type="file" name="img_file">
        </p>
        <p>
            If you are not a robot, please answer me, what is two plus three:<br>
            <input type="text" name="answer">
        </p>
        <p>
            <input type="submit" value="Gimpify">
        </p>
    </form>
    <hr>
    <p>
        <strong>You can try with this one first if like:</strong>
    </p>
    <p>
        Click on the image<br>
        <a href="/cartoon"><img src="/img/test.jpg"></a>
    </p>
    <p>(<a href="http://www.flickr.com/photos/dlebech/8060009796/">It's my dog Mila</a>)</p>
    <p>Get the <a href="https://github.com/dlebech/gimpify">code for Gimpify</a>.</p>
</div>
{% endblock %}
